//1200
.footer {
   padding: 66px 0 70px 0;
   background: #000000;
   min-width: 320px;
     &__title {
      @include title-font-style;
      color: #FEFEFE;
   }
     &__text--large {
      position: relative;
      right: 4px;
      margin: 22px 0 37px 0 ;
      @include footer-text-fs;
   }
   &__text--small {
      @extend .footer__text--large;
      margin: 8px 0 26px 0 ;
      display: none;
   }

   &__icons-container {
      @include flex-center;
      justify-content: space-between;
      max-width: 194px;
      margin: 0 auto;
   }
   &__contacts {
      display: inline-flex;
      font-size: 16px;
      line-height: 26px;
      color: $footer-text-color;
   }
   }
   .footer-container {
      @include container;
      max-width: 690px;
   }
   .icons {
      .icons__img{
         display: block;
         width: 34px;
         height: 34px;
         gap: 6px;
         border-radius: 50%;
      }

   }
   .contacts {
      margin-top: 34px;
    &__adress {
      position: relative;
      right: 27px;
      font-style: normal;
   }
   &__adress::after  {
      content: ' / ';
      position: absolute;
      top: 0;
      right: -18px;
   }

   &__phone {
      position: relative;
      right: -3px;
   }
   &__phone::after {
      content: ' / ';
      position: absolute;
      top: 0;
      right: -18px;
   }
   // .contacts__email
   &__email {
      position: relative;
      right: -33px;
   }
}

@media (max-width: 1199px) {
   .footer {
      padding: 57px 0 56px 0;
   }
}

@media (max-width: 767px) {
   .footer {
      padding: 36px 0 47px 0;
   }
   .footer-container{
      max-width: 303px;
   }
   .footer__text--large {
      display: none;
   }
   .footer__text--small {
      display: block;
   }
   .footer__contacts{
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 24px;
   }
   .contacts {
      margin-top: 25px;
   }
   .contacts__adress {
      position: relative;
      right: 0;
   }
   .contacts__adress::after {
      right: calc(50% - 115px);
   }
   .contacts__phone {
      position: relative;
      right: 0;
   }
   .contacts__phone::after {
      right: calc(50% - 85px);
   }
   .contacts__email {
      position: relative;
      right: 0;
   }
}
